<header class="topbar" data-navbarbg="skin5">
  <nav class="navbar top-navbar navbar-expand-md navbar-dark">
      <div class="navbar-header" data-logobg="skin6">
          <!-- ============================================================== -->
          <!-- Logo -->
          <!-- ============================================================== -->
          <a class="navbar-brand" href="/dashboard">
              <!-- Logo icon -->
              <b class="logo-icon">
                  <!-- Dark Logo icon -->
              </b>
              <!--End Logo icon -->
              <!-- Logo text -->
              <span class="logo-text">
                  <!-- dark Logo text -->
                  <span >SimpleApp</span>
              </span>
          </a>
          <!-- ============================================================== -->
          <!-- End Logo -->
          <!-- ============================================================== -->
          <!-- ============================================================== -->
          <!-- toggle and nav items -->
          <!-- ============================================================== -->
          <a class="nav-toggler waves-effect waves-light text-dark d-block d-md-none"
              href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
      </div>
      <!-- ============================================================== -->
      <!-- End Logo -->
      <!-- ============================================================== -->
      <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
          <ul class="navbar-nav d-none d-md-block d-lg-none">
              <li class="nav-item">
                  <a class="nav-toggler nav-link waves-effect waves-light text-white"
                      href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
              </li>
          </ul>
          <!-- ============================================================== -->
          <!-- Right side toggle and nav items -->
          <!-- ============================================================== -->
          <ul class="navbar-nav ms-auto d-flex align-items-center">

              <!-- ============================================================== -->
              <!-- Search -->
              <!-- ============================================================== -->
              <!-- <li class=" in">
                  <form role="search" class="app-search d-none d-md-block me-3">
                      <input type="text" placeholder="Search..." class="form-control mt-0">
                      <a href="" class="active">
                          <i class="fa fa-search"></i>
                      </a>
                  </form>
              </li> -->
              <!-- ============================================================== -->
              <!-- User profile and search -->
              <!-- ============================================================== -->
              <li>
                  <div class="dropdown">
                      <div class="dropdown-toggle" id="dropdownMenuProfile" data-bs-toggle="dropdown" aria-expanded="false">
                        <a class="profile-pic" href="#"> <img src="ample-admin/plugins/images/users/circle-user-2.png" alt="user-img" width="36"
                          class="img-circle"><span class="text-white font-medium"><% if (locals.userinfo) { %> <%= userinfo.name || userinfo.username || userinfo.email %> <% } %></span></a>
                      </div>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuProfile">
                          <!-- <li><a class="dropdown-item" href="/profile"> Profile </a></li> -->
                          <li>
                              <a class="dropdown-item" href="javascript: document.logoutForm.submit()" > Logout </a>
                              <form name="logoutForm" class="disabled" action="/logout" method="post" >
                                  <input hidden type="submit" value="Logout"/>
                              </form>
                          </li>
                      </ul>
                    </div>
              </li>
              <!-- ============================================================== -->
              <!-- User profile and search -->
              <!-- ============================================================== -->
          </ul>
      </div>
  </nav>
</header>